@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  margin: 0;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

/*Header*/

.page-header a {
  text-decoration: none;
  color: #000000;
}

.navigation {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.nav-link {
  text-transform: capitalize;
  text-align: center;
}

.notification-favorite {
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  background: #7DB54F;
  color: #FFFFFF;
}

.nav-user-favorite {
  background-color: #756157;
  width: 160px;
}

a.nav-user-favorite {
  color: #FFFFFF;
}

/*hero*/

.hero {
  background-image: url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #b2d8f1;
  background-size: cover;
  color: #FFFFFF;

}

/*advantage*/

.content-tittle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.content-description {
  text-align: center;
  color: #333333;
}

.advantage-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantage-item-color {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantage-item-12 {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-20 {
  background-color: rgba(131, 179, 211, 0.2);
}

/*search*/

.search {
  text-align: center;
}

button.index-search-btn {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
}

/*subscribe*/

.index-subscribe {
  background-color: #b2d8f1;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.subscribe {
  text-align: center;
}

.index-subscribe-content {
  color: #FFFFFF;
}

.subscribe-btn {
  font-size: 20px;
  line-height: 36px;
}

/*footer*/

.footer-main a {
  text-decoration: none;
  color: #000000;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}


/*form*/

.catalog-form {
  background-color: #b2d8f1;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs a {
  color: #FFFFFF;

  text-decoration: none;
}

.catalog-filter-tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.filter-btn-submit {
  width: 191px;
}

.filter-btn-reset {
  background-color: rgba(0, 0, 0, 0);
  width: 191px;
}

/*filter-result*/

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-button-item a {
  text-decoration: none;
  color: #000000;
}

.filter-result {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*catalog*/

.product-card a {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-btn-detailed {
  background-color: #756157;
}

a.card-btn-detailed {
  color: #FFFFFF;
}

.card-selected{
  background-color: #7DB54F;

}

.card-btn-rating {
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  width: 140px;
  font-weight: 400;
  color: #333333;
}

/*pagination*/

.pagination-item a {
  text-decoration: none;
}

.pagination-link {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
