@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  background-color: #F2F2F2;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.button {
  font-family: inherit;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

/*Header*/

.page-header {
  padding: 0 70px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav {
  display: grid;
  grid-template-columns: 140px 340px;
  gap: 30px;
}

.nav-list {
  display: grid;
  grid-template-columns: 100px 114px 125px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 20px 16px;
}

.nav-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.nav-user {
  display: grid;
  grid-template-columns: 88px 160px;
  gap: 20px;
  align-items: center;
}

.nav-user-list {
  display: grid;
  grid-template-columns: 44px 44px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-favorite {
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  background: #7DB54F;
  color: #FFFFFF;
}

.nav-user-favorite {
  width: 160px;
  background-color: #756157;
  margin: 0;
  padding: 8px 34px;
  margin-left: 20px;

}

a.nav-user-favorite {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

/*main*/

.main-container {
  flex-grow: 1;
}

/*hero*/

.hero {
  background-image: url("../images/hero-border.svg"), url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #b2d8f1;
  background-size: 100% auto, cover;
  color: #FFFFFF;
  margin: 0;
  padding-top: 51px;
  padding-bottom: 82px;
}

.img-hero {
  display: block;
  margin: 0 auto;
}

/*advantage*/

.container-promo {
  padding: 69px 0;
}

.content-tittle-promo {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.content-tittle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}



.content-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.content-description-promo {
  width: 651px;
  margin: 0 auto;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-container {
  width: 400px;
  height: 385px;
  padding: 103px 85px;
}

.advantage-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantage-description-white {
  color: #FFFFFF;
}

.advantage-item-dark {
  display: flex;
  justify-content: space-between;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantage-order {
  order: -1;
}

.advantage-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-medium {
  background-color: rgba(131, 179, 211, 0.2);
}

.container-invitation {
  padding: 64px 0;
}
.content-tittle-invitation {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.advantage-title-invitation {
  margin: 30px 0;
}

.content-description-invitation {
  width: 490px;
  margin: 0 auto;
}

.advantage-item-invitation {
  padding: 80px 85px;
}

/*search*/

.container-search {
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
}

.content-tittle-search {
  margin: 0;
  margin-bottom: 20px;
}

.search {
  text-align: center;
}

button.index-search-btn {
  background-color: #756157;
  width: 376px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  margin-top: 54px;
}

/*subscribe*/

.index-subscribe {
  background-color: #b2d8f1;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.subscribe-container {
  width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.index-subscribe-content-tittle {
  width: 404px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.index-subscribe-content {
  width: 475px;
  color: #FFFFFF;
  margin: 0 auto;
}

.subscribe-form {
  display: flex;
  align-items: center;
  margin-top: 54px;
}

.subscription-field {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;
  align-self: stretch;
}

.subscribe-btn {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
  margin: 0;
  padding: 8px 50px;
}

/*footer*/

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}


.socials-list {
  display: flex;
  align-items: center;
  width: 120px;
  padding: 0;
  margin: 0;
}

.socials-item {
  list-style: none;
  width: 40px;
}

.footer-main a {
  text-decoration: none;
  color: #000000;
}

.phone {
  width: 720px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}


/*form*/

.catalog-form {
  background-color: #b2d8f1;
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  padding: 35px 70px 70px 70px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/*breadcrumbs*/


.breadcrumbs {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 40px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  color: #FFFFFF;
  text-decoration: none;
  margin: 0;
}

/*filters*/

.catalog-filter-tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-submenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container-checkbox {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 70px;
}

.catalog-filter {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-submenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-container {
  display: grid;
  grid-template-columns: 288px 191px;
  gap: 70px;
}

.range-inputs-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.range-inputs-item {
  display: flex;
  align-items: center;
}

.range-field {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 103px;
}

.filter-range-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.form-group {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.filter-btn-submit {
  width: 191px;
  padding: 0 50px;
}

.filter-btn-reset {
  background-color: rgba(0, 0, 0, 0);
  width: 191px;
  padding: 0 50px;
}

/*filter-result*/

.catalog {
  width: 1200px;
  padding: 0 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.result-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.result-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin: 0;
  margin-right: auto;
}

.catalog-button-item a {
  text-decoration: none;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0;
  margin-right: 70px;
  padding: 8px 20px;
}

.button-card {
  width: 20px;
  height: 20px;
}

.catalog-button-list {
  display: flex;
  justify-content: center;
  width: 160px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-button-item {
  width: 48px;
  margin: 0;
  padding: 12px 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 7px;
}

.catalog-current {
  border: 2px solid #000000;;
}

.catalog-button-item:last-child {
  margin-right: 0;
}

/*catalog*/

.product-card a {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card-btn-detailed {
  background-color: #756157;
}

a.card-btn-detailed {
  color: #FFFFFF;
}

.card-selected {
  background-color: #7DB54F;

}

.card-btn-rating {
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  width: 140px;
  font-weight: 400;
  color: #333333;
}

/*pagination*/

.pagination-item a {
  text-decoration: none;
}

.pagination-link {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
